certifi==2019.9.11
chardet==3.0.4
codegen==1.0
dj-database-url==0.4.2
Django==2.0.2
django-guardian==2.1.0
django-patterns==0.0.3
djangorestframework==2.4.4
gunicorn==19.7.1
idna==2.6
patterns==0.3
psycopg2==2.7.3.2
PyGithub==1.35
PyJWT==1.7.1
python-dateutil==2.8.1
python-decouple==3.1
pytz==2019.3
requests==2.18.4
six==1.13.0
sqlparse==0.3.0
urllib3==1.26.5
